* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: black;
  padding-top: 80px;
}
.navbar {
  /* color: gray; */
  /* background-color: #F8CFA5; */
  /* background-color: #FAD7B0; */
  /* background-color: #e2e8f0; */
  background-color: lightgray;

  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.container {
  padding: 20px;
}
.navbar > .container > .logo {
  font-size: x-large;
  font-weight: bold;
  text-align: left;
}
.navbar > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.navbar > .container > .nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar > ul {
  display: flex;
  flex-direction: row;
}
.navbar > .container > ul > li > a {
  margin: 10px;
  padding: 5px;
}
ul {
  list-style-type: none;
}
.nav > li > a {
  color: #1e293b;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav > li > a:hover {
  text-decoration: underline;
  color: black;
  /* background-color: lawngreen; */
}
.logo > a {
  color: black;
  text-decoration: none;
}
.top {
  width: 1920px;
  height: 100px;
  /* background-color: aqua; */
}
.row {
  display: flex;
  flex-direction: row;
}
.exp {
  margin: 150px 20px;
  /* background-color: royalblue; */
}
.c-h2 {
  line-height: 1.5;
}
.c-title {
  margin: 10px;
}
.c-title > h1 {
  font-size: 100px;
}
.c-exp {
  margin: 100px 80px;
  /* background-color: royalblue; */
}

.first {
  width: 1000px;
  height: 400px;
  /* background-color: lightsteelblue; */
}
.first-title > h2 {
  font-size: 50px;
  width: 400px;
  margin: 0 40px;
  padding: 40px 0;
  /* background-color: blanchedalmond; */
}
.first-exp {
  width: 400px;
  height: 200px;
  /* background-color: lightsteelblue; */
  margin: 0px 40px;
  /* background-color: aquamarine; */
}
.first-exp > p {
  line-height: 1.5;
}
.first-img > img {
  width: 500px;
  /* background-color: blue; */
}
.first {
  display: flex;
  flex-direction: row;
}

.team-first {
  width: 1000px;
  height: 400px;
  /* background-color: lightsteelblue; */
}
.team-first-title > h2 {
  font-size: 50px;
  width: 400px;
  margin: 0 40px;
  padding: 40px 0;
  /* background-color: blanchedalmond; */
}
.team-first-exp {
  width: 400px;
  height: 200px;
  /* background-color: lightsteelblue; */
  margin: 0px 40px;
  /* background-color: aquamarine; */
}
.team-first-exp > p {
  line-height: 1.5;
}
.team-first-img > img {
  width: 500px;
  /* background-color: blue; */
}
.team-first {
  display: flex;
  flex-direction: row;
}
.index-bottom{
  color: black;
}